#login
{
    width: 500px;
    height: 400px;
    margin-top: 250px;
    background-color: gray;
    border-radius: 75px;
}

#username
{
    width: 400px;
}

#msh1
{
    background-color: lightgreen;
}

.hello
{
    background-color: lightgreen;
}